/*COMMON*/
.body {
  font-family: 'Nanum Gothic', sans-serif;
}
.inner {
  position: relative;
  width: 500px;
}

/*STRUCTURE*/
.structure {
  width: 700px;
  box-shadow: 5px 5px 5px #dcdcdc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.structure .My-To-Do {
  width: 500px;
  height: 60px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}
.structure .My-To-Do .My-To-Do-App {
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
}
#input {
  height: 70px;
  display: flex;
  border-bottom: 1px solid #dcdcdc; 
  margin-bottom: 10px;
}
#input select {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  outline: none;
  box-sizing: border-box;
}
#input .New-Entry {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20B2AA;
  border-radius: 5px;
  border: 1px solid #20B2AA;
}
#input .New-Entry span {
  color: white;
}
.List {
  overflow: hidden;
}
.List .item-li {
  font-size: 22px;
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
}
.List .material-icons {
  position: absolute;
  right: 5px;
}
.List .material-icons:hover {
  cursor: pointer;
}
